@charset "UTF-8";
#titulo{
    font-size: 30px;
    text-align: center;
}
#imagem{
    text-align: center;
    margin: auto;
}
iframe {
   
    width: 100%;
    height: 25em;    
}

div.container {
    text-align: center;
    flex-shrink: 1;
}
#voltar{
    text-align: center;

}



